body {
	font-family: 'Roboto Condensed', sans-serif;
}

main {
		background-color: $light-grey;
		padding:20px 0;

	h1 {
		font-family: "Roboto Condensed", sans-serif;
	}
}

.blue {
	color: $primary-color;
}
