/*
.icon {
	height: 24px;
	width: 24px;
	display:inline-block;
	background-size:cover;
	color: $white;
}
.settings-icon {
	background-image: url('../img/Common/settings-24.png');
}
.search-icon {
	background-image: url('../img/Common/find.png');
}
*/